
.ipynb_checkpoints/demo-checkpoint.ipynb
DeepEdges/.idea/DeepEdges (1).iml
DeepEdges/.idea/DeepEdges.iml
DeepEdges/.idea/desktop.ini
DeepEdges/.idea/encodings.xml
DeepEdges/.idea/misc (1).xml
DeepEdges/.idea/misc.xml
DeepEdges/.idea/modules (1).xml
DeepEdges/.idea/modules.xml
DeepEdges/.idea/vcs.xml
DeepEdges/.idea/workspace (1).xml
DeepEdges/Torch/__pycache__/loss.cpython-38.pyc
DeepEdges/Torch/__pycache__/pytorch_unet.cpython-38.pyc
DeepEdges/Torch/unet_loss.pkl
DeepEdges/Torch/UnetModel.pkl
DeepEdges/Torch/UnetModelStateDict.pkl
FinalImages/Res/10_Res.png
FinalImages/Res/10_small_Res.png
FinalImages/Res/11_Res.png
FinalImages/Res/11_small_Res.png
FinalImages/Res/1_Res.png
FinalImages/Res/1_small_Res.png
FinalImages/Res/2_Res.png
FinalImages/Res/2_small_Res.png
FinalImages/Res/3_Res.png
FinalImages/Res/3_small_Res.png
FinalImages/Res/4_Res.png
FinalImages/Res/4_small_Res.png
FinalImages/Res/5_Res.png
FinalImages/Res/5_small_Res.png
FinalImages/Res/6_Res.png
FinalImages/Res/6_small_Res.png
FinalImages/Res/7_Res.png
FinalImages/Res/7_small_Res.png
FinalImages/Res/8_Res.png
FinalImages/Res/8_small_Res.png
FinalImages/Res/9_Res.png
FinalImages/Res/9_small_Res.png
.idea/DeepFaintEdges.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
